body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(/img/daniel.jpeg);
  background-size: cover;
  color: white;
  text-align: left;
  background-position: 15% 35%;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 40px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  font-family: "Times New Roman", Times, serif;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
  font-family: "Times New Roman", Times, serif;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
  color: #f7f7f7;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 24px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  transition: all 0.5s;
  display: flex;
}

.header-right:hover {
  background-color: purple;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}

.lesson-wrapper {
  padding: 20px 0;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
  font-size: 50px;
}

.lessons {
  display: block;
  justify-content: center;
}

.lesson-icon {
  position: relative;
  font-size: 25px;
}

.lesson-icon p {
  position: absolute;
  top: 90px;
  width: 100%;
  color: black;
  font-size: 25px;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 20px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.contact {
  padding: 30px 0;
}

.contact h2 {
  font-size: 40px;
  color: black;
  margin: 30px 0;
  text-align: center;

  letter-spacing: 2px;
  text-transform: capitalize;
}

form {
  width: 350px;
  margin: 0 auto;
  text-align: left;
  color: white;
}

form label {
  display: block;
  margin-bottom: 0.5em;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 90%;
  padding: 0.5em;
  border: 1px solid #ccc;
}

form textarea {
  height: 200px;
}
form button[type="submit"] {
  background-color: #6366f1;
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 10%;
}

@media screen and (max-width: 768px) {
}
